.modelTesting {
    margin: 3%;
}

.inputButton {
    border-radius: 3px;
    margin-right: 1vw;
    padding: 1vh;
    margin-bottom: 1em;
}

.inputButton:disabled, label[disabled="disabled"], label[disabled="disabled"]:hover {
    cursor:default;
    color: var(--disabled-text-colour);
    background-color: var(--disabled-button-colour);
    border: 1px solid var(--button-border-colour);
}

.tableContainer {
    margin-top: 1em;
    border: 1px solid black;
    overflow-x: auto;
    max-width: 75vw;
    scrollbar-color: black var(--background-secondary);
}
  
.tableMMLU {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: auto;
    width: 100%;
}

.tableMMLU th, .tableMMLU td {
    border: 1px solid black;
    background-color: var(--background-primary);
    text-align: center;
    min-width: 10em;
}

.tableMMLU tbody tr:first-of-type td {
    border-top-width: 0 !important;
}

.currentTableRow {
    background-color: var(--background-secondary);
}

.tableColShrink {
    white-space: nowrap;
}

.modelName:hover {
    text-decoration:line-through;
    cursor: pointer;
}

.inputArea {
    flex: 1;
    width: 100%;
    min-height: 15vh;
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
    border-radius: 10px;
    border: 1px solid var(--button-border-colour);
    background-color: var(--background-secondary);
    color: var(--text-colour);
    padding: 4px 5px;
    margin-top: 12px;
    overflow-y: auto;
}

.advancedOptionsMenu {
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--background-secondary);
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.3s ease, border 0.3s ease;
}

.menuClosed {
    max-height: 0;
    border: 1px solid var(--background-primary);
}

.optionMenuSubTabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: fit-content;
}

.optionMenuSubTabs li {
    float: left;
}

.optionMenuSubTabs li button {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.optionMenuSubTabs li:first-of-type button {
    border-top-left-radius: 5px;
}

.optionMenuSubTabs li:last-child button {
    border-top-right-radius: 5px;
}

.selectedOptionMenuSubTab {
    background-color: var(--background-tertiary);
}

.optionsSubMenu {
    padding: 1em;
}

.optionsSubMenu div textarea {
    width: 50%;
}

.dropDownMenu {
  background-color: var(--background-secondary);
  border-color: var(--button-border-colour);
  color: var(--text-colour);
  padding: 0.8vh;
  margin-right: 1em;
  margin-top: 1em;
  width: 13em;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
}

.inputOption {
    display: block;
    margin-bottom: 1em;
}

.inputOption input[type=number] {
    width: 2.5em;
}

.copyButton {
    margin-top: 1em;
    padding: 1em;
}

.processSelector {
  margin: 1em 0em;
  border: 1px solid #474747;
  border-radius: 3px;
  background-color: #292929;
  padding: 1em;
  width: fit-content;
  display: flex;
  gap: 1em;
}

.processSelector .inputButton {
    margin: 0;
}

.processorButtonSelected {
    border-color: var(--highlight-colour);
}

.recommendationArea {
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--background-secondary);
    padding: 1em;
}

.recommendationInputArea {
    width: 30em;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--background-primary);
    padding: 1em;
}

.recommendationInputArea div {
    display: grid;
    grid-template-columns: 11em auto;
    gap: 0.5em;
    align-items: center;
}

input[type=number] {
    width: 100%;
    border: 1px solid var(--button-border-colour);
    border-radius: 2px;
    color: var(--text-colour);
    background-color: var(--background-secondary);
}

.noInputSelectedPosible {
    animation: inputFailureFlash 1s ease-in-out;
}

@keyframes inputFailureFlash {
    0%, 100% {
        border-color: var(--button-border-colour);
    }
    5%, 50% {
        border-color: var(--failure-colour);
    }
}

.defaultRecommendationMenu {
    max-height: 35vh;
    overflow-y: auto;
}

.defaultRecommendationMenu table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 3px solid black;
}