.modelTesting {
    margin: 3%;
}

.inputButton {
    border: 1px solid #474747;
    border-radius: 3px;
    background-color: #292929;
    margin-right: 1vw;
    padding: 1vh;
    color: white;
}

.inputButton:hover {
    border-color: lightblue;
    cursor: pointer;
}

.inputButton:disabled {
    cursor: auto;
    color: gray;
    border-color: #474747;
}

.modelSelectLabel {
    border: 1px solid #474747;
    border-radius: 3px;
    background-color: #221d1d;
    margin-right: 1vw;
    padding: 1vh;
}

.modelSelectLabel:hover {
    border-color: lightblue;
    cursor: pointer;
}

.hidden {
    display: none;
}

.tableContainer {
    margin-top: 2em;
    border: 1px solid black;
    overflow-x: auto;
    max-width: 75vw;
    scrollbar-color: black #292929;
}
  
.tableMMLU {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
}

.tableMMLU th, .tableMMLU td {
    border: 1px solid black;
    width: 6em;
    text-align: center;
}