
.newChat {
  display: flex;
  flex-direction: column;
  padding-top: 30vh;
  align-items: center;
}

.newChatButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2em;
}

.newChatButtons button,
.newChatButtons A 
{
  border-radius: 8px;
  text-align: center;
  padding: 1.5em;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
}

.newChatButtons button:focus, 
.newChatButtons button:focus-visible,
.newChatButtons A:focus,
.newChatButtons A:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.documentationContainer {
  margin-top: 1rem;
}
