
.chatContainer {
  display: grid;
  grid-template-areas:
    "messages"
    "input";
  grid-template-rows: 70% auto;
  height: 100vh;
  overflow: hidden;
}

.messagesContainer {
  grid-area: messages;
  background-color: #191919;
  overflow-y: scroll;
  scrollbar-color: black #292929;
  padding: 3vh 15vw;
  align-content: start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.messagesContainer div,
.inputContainer button {
  border: 2px solid #474747;
  color: white;
  border-radius: 5px;
  padding: 1vh;
  display: block;
  width: fit-content;
}

.inputContainer button:hover {
  border-color: lightblue;
  cursor: pointer;
}

.userMessage {
  background-color: #225bb5;
  text-align: left;
  overflow-wrap: anywhere;
}

.chatbotMessage {
  background-color: #292929;
}

.userMessage, .chatbotMessage {
  margin: 1vh 0;
}

.rightAlignedMessage {
  align-self: flex-end;
}

.inputContainer {
  grid-area: input;
  background-color: #191919;
  padding: 3vh 5vw;
  border-top: 1px solid black;
  position: relative;
}

.fileUploadContainer {
  position: relative;
  bottom: -2.5vh;
  left: 1vw;
}

.fileUploadContainer input[type=file] {
  display: none;
}

.fileUploadLabel {
  border: 1px solid #474747;
  border-radius: 3px;
  background-color: #292929;
  margin-right: 1vw;
  padding: 1vh;
}

.fileUploadContainer label:hover {
  border-color: lightblue;
  cursor: pointer;
}

.inputContainer textarea {
  width: 100%;
  height: 17vh;
  font-size: 16px;
  padding: 1vh;
  box-sizing: border-box;
  resize: none;
}

.inputContainer button {
  background-color: #292929;
  position: absolute;
  bottom: 0vh;
  right: 6vw;
}

.messageLoading::after {
  content: "";
  display: inline-block;
  animation: thinkingAnimation  1s steps(4) infinite;
  width:0.7em;
}

@keyframes thinkingAnimation  {
  0%   { content: ""; }
  25%  { content: "."; }
  50%  { content: ".."; }
  75%  { content: "..."; }
}

.copyButton {
  background-color: #292929;
  border-radius: 3px;
  border: 1px solid #292929;
  color: white;
  max-width: fit-content;
  padding: 1vh;
}

.copyButton:hover {
  cursor: pointer;
  border: 1px solid #474747;
}

.copyButton:active {
  border: 1px solid white;
}

.modelNameText {
  border: none !important;
  background-color: #292929;
  margin-top: 2vh;
}

.processSelector {
  position: fixed;
  top: 1vw;
  z-index: 1;
  border: 1px solid #474747;
  border-radius: 3px;
  margin: 1vh 1vw;
  padding: 1vh;
}

.processorButton {
  border: 1px solid #474747;
  border-radius: 3px;
  background-color: #292929;
  padding: 1vh;
  margin: 0 1vh;
  color: white;
}

.processorButton:hover {
  cursor: pointer;
}

.processorButton:hover:enabled {
  border-color: lightblue;
}

.processorButton:disabled {
  color: black;
  background-color: #191919;
  cursor: auto;
}

.processorButtonSelected {
  border-color: white !important;
}