.inputContainer {
  grid-area: input;
  display: grid;
  grid-template-areas:
    "context question";
  grid-template-columns: 50% auto;
  background-color: var(--background-primary);
  padding: 1vh;
  border-top: 1px solid black;
  position: relative;
}

.contextContainer {
  grid-area: context;
  border-right: 1px solid black;
}

.questionContainer {
  grid-area: question;
  padding-left: 1vh;
}

.tab, .selectedTab, .sendButton {
  border-radius: 3px;
  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.sendButton {
  position: absolute;
  bottom: 1vh;
  right: 4vh;
}

.selectedTab {
  background-color: var(--selected-button-colour);
  border-color: var(--success-colour) !important;
}

.inputContainer textarea {
  margin-top: 1vh;
  margin-left: 1vh;
  width: 95%;
  height: 17vh;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
  border-radius: 10px;
  border: 1px solid var(--button-border-colour);
  background-color: var(--background-secondary);
  color: white;
  padding: 12px 20px;
  overflow-y: auto;
}

.inputContainer textarea:focus {
  outline: none;
  border-color: var(--link-colour);
}

/* custom scrollbar styling to fit theme and (roughly) fit borders */
.inputContainer textarea::-webkit-scrollbar {
  width: 8px;
}

.inputContainer textarea::-webkit-scrollbar-track {
  background: var(--background-primary);
  border-radius: 4px;
}

.inputContainer textarea::-webkit-scrollbar-thumb {
  background: var(--button-border-colour);
  border-radius: 4px;
}

.inputContainer textarea::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

.unselectedModelButton, .selectedModelButton {
  position: absolute;
  bottom: 0.8vh;
  right: 13vh;
  border: 1px solid var(--button-border-colour);
  border-radius: 3px;
  background-color: var(--background-secondary);
  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  cursor: pointer;
}

.unselectedModelButton {
  border: 1px solid var(--failure-colour) !important;
}

.selectedModelButton {
  border: 1px solid var(--success-colour) !important;
}