.inputContainer {
  grid-area: input;
  display: grid;
  grid-template-areas:
    "context question"
    "controlsLeft controlsRight";
  grid-template-columns: 50% auto;
  background-color: var(--background-primary);
  padding: 1vh;
  border-top: 1px solid black;
  position: relative;
}

.contextContainer {
  grid-area: context;
  border-right: 1px solid black;
}

.questionContainer {
  grid-area: question;
  padding-left: 1vh;
}

.tab, .selectedTab {
  border-radius: 3px;
  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.selectedTab {
  background-color: var(--selected-button-colour);
  border-color: var(--success-colour) !important;
}

.inputContainer textarea {
  margin-top: 1vh;
  margin-left: 1vh;
  width: 95%;
  height: 17vh;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
  border-radius: 10px;
  border: 1px solid var(--button-border-colour);
  background-color: var(--background-secondary);
  color: white;
  padding: 12px 20px;
  overflow-y: auto;
}

.inputContainer textarea:focus {
  outline: none;
  border-color: var(--link-colour);
}

/* custom scrollbar styling to fit theme and (roughly) fit borders */
.inputContainer textarea::-webkit-scrollbar {
  width: 8px;
}

.inputContainer textarea::-webkit-scrollbar-track {
  background: var(--background-primary);
  border-radius: 4px;
}

.inputContainer textarea::-webkit-scrollbar-thumb {
  background: var(--button-border-colour);
  border-radius: 4px;
}

.inputContainer textarea::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

.controlsLeft {
  grid-area: controlsLeft;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.controlsRight {
  grid-area: controlsRight;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sendButton {
  border: 1px solid var(--button-border-colour);
  border-radius: 3px;
  background-color: var(--background-secondary);
  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
.unselectedModelButton {
  border: 1px solid var(--failure-colour) !important;
}

.modelSelection {
  padding: 0.9vh;
  margin-right: 1vh;
  background-color: var(--background-secondary);
  border-color: var(--button-border-colour);
  color: white;
  border-radius: 3px;
}
.modelSelection:hover {
  cursor: pointer;
}

.addModelButton {
  border: 1px solid var(--button-border-colour);
  border-radius: 3px;
  background-color: var(--background-secondary);
  padding: 0.8vh;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-right: 3vh;
  color: white;
}
.addModelButton:hover {
  border-color: lightblue;
  cursor: pointer;
}
.noModels {
  border: 1px solid var(--failure-colour);
  border-radius: 3px;
  background-color: var(--background-secondary);
  padding: 0.8vh;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-right: 3vh;
  color: white;
}
.noModels:hover {
  border-color: firebrick;
  cursor: pointer;
}
